* {
    box-sizing: border-box;
}

img {
    width: 100%;
    
}

body {
    font-family: poppins, sans-serif;
    margin: auto 0;
}

header {
    max-width: 1200px;
    padding: .5em 1.5em;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header div img {
    width: 30%;
    
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 0 0 .7em;
}

 nav a:link,
 nav a:visited {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.intro {
    max-width: 1200px;
}

.products {
    padding: 0 1.5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    
    grid-template-areas: 
    "block1 block1 block1 block1 block1 block1"
    "block1 block1 block1 block1 block1 block1"
    "block1 block1 block1 block1 block1 block1"
    "block2 block2 block3 block3 block4 block4";

}

.products .block:nth-child(1) {
    grid-area: block1;   
}

.products .block:nth-child(2) {
    grid-area: block2;  
}

.products .block:nth-child(3) {
    grid-area: block3; 
}

.products .block:nth-child(4) {
    grid-area: block4; 
}

.products img {
    border-radius: 4px;
}

.sweetheart {
    padding: 1em 1.5em 4em;
}

h1 {
    font-size: 2.027rem;
    font-weight: 500;
    margin-bottom: .5em;
}

.limited {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.red {
    margin: 0;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: black;
    border: 6px solid black;
    border-radius: 4px;
    text-decoration: none;
    padding: 0 .5em;
}

#behind {
    background-color: #f8fafc;
    display: flex;
    justify-content: center;
}

.back-behind {
    padding: 0 1.5em;
    margin: 0;
    max-width: 1200px;
}

#behind .behind-group {
    padding-top: 1em;
    padding-bottom: 3em;
    margin: 0;
}

h2 {
    font-size: 1.802rem;
    text-align: center;
    margin: 0;
    padding-top: 1.5em;
}

#people {
    color: white;
    background-color: black;
    padding: 0 1.5em ;
    display: flex;
    justify-content: center;
}

#people .people-group {
    padding-top: 1em;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
}

#try {
    padding: 0 1em;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.try-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 0;
    text-align: center;
}

.article-background {
    background-color: #f8fafc;
    margin: auto 0;
    padding-bottom: .5em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 95%;
   
}

.try-article img {
    width: 95%;
    margin: auto 0;
    margin-top: 1em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
}


h3 {
    font-size: 1.266rem;
    margin: auto 0;
    padding-top: 1em;
}

footer {
    background-color: black;
    color: white;
    font-size: .8rem;
    text-align: center;
    padding: 2em 0;
}

@media (min-width: 768px) {
    .products {
        grid-template-areas: 
        "block1 block1 block1 block2 block2 block2"
        "block1 block1 block1 block2 block2 block2"
        "block3 block3 block3 block4 block4 block4"
        "block3 block3 block3 block4 block4 block4";
    }

    .behind-group {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    #people .people-group {
        display: flex;
        flex-direction: row;
    }

    .try-article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 960px) {
    header div img {
        width: 20%;
    }

    h1 {
        margin-top: 0;
    }

    .intro {
        display: flex;
        padding-bottom: 4em;
    }

    .sweetheart {
        padding: 0;
    }

}
